@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
	font-family: 'Roboto', sans-serif;
}
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	width: 100%;
	background-color: #1e1e1e;
}
#overlay {
	position: absolute;
	bottom: 0;
	right: 0;
	background:rgba(0,0,0,0.5); 
	margin: 1%;
	padding: 0.5%;
	color: white;
}
.block {
	width: 40px;
	height: 40px;
	border: 5px solid #1e1e1e;
	background-color: #686868;
	float: left;
}

.block-you {
	width: 40px;
	height: 40px;
	border: 5px solid #d80000;
	background-color: #686868;
	float: left;
}
.game {
	width: 100%;
	height: 100%;
}
	</sty
